<div class="container">
    <div class="card" style="color: green;">
        <div class="Congrats">
            <h1>Congratulation!</h1>
        </div>
        <div class="message">
            <h2>Your Registration is Done Successfully....</h2>
        </div>
        <div class="button">
            <button type="back" class="btn-primary" routerLink="/form" routerLinkActive="active">Back To Registration</button>
            <button  class="btn-primary" routerLink="/displaydb" routerLinkActive="active">Show Register Student</button>
        </div>


        </div>
    </div>

