
<div class = "FS" style="background-color: aliceblue;">
  <div class="container">
              <div class="card">
                  <div class="text-center">
                    <div class = "Header">
                      <h1 class="hed">College Trip Registration Form</h1>
                    </div>
                      <h5 class="hed1">you can register heare</h5>
                  </div>
                  <div class="formgroup">
                  <form [formGroup]="signupForm" (submit)="Display()">
                    <div class = "text1">
                      <div class="mb-3">
                        <label class="form-label">Email id</label>
                        <input  formControlName="email" type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter your Email id">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Name</label>
                          <input formControlName="name"  type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter your Name">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Phone Number</label>
                          <input  formControlName="mobile"  type="number" class="form-control" id="exampleInputEmail1"  placeholder="Enter your Phone Number">
                        </div>

                        <div class="mb-3">
                          <label class="form-label">Class</label>
                      <input  formControlName="Class"  type="text" class="form-control" id="exampleInputEmail1"  placeholder=" Enter your Calss Name">
                        </div>

                        <div class="mb-3">
                          <label class="form-label">Age</label>
                          <input  formControlName="Age"  type="number" class="form-control" id="exampleInputEmail1"  placeholder="Enter your Age">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Gender</label>
                          <input  formControlName="Gender"  type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter your Gender">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>

                    <!--<a style="color: blue; margin-top: 10px;" routerLink="/login">Already User? Click to Login</a>-->
                </div>
          </div>
      </div>
