
    

        <!-- <img src= "bg.png" alt="Imaje is not found"> -->
        

         <!-- <div class="Image"> -->
                <img class="img" src="https://i.ytimg.com/vi/OC1iARxRP5U/maxresdefault.jpg"> 


                <!-- <img class="img" src="/bg.png">  -->
                <!-- </div> -->
        <div class="card">
            <!-- <p style="background-image:'https://hips.hearstapps.com/hmg-prod/images/door-shaded-by-bougainvillea-porquerolles-france-royalty-free-image-1653423252.jpg?crop=0.668xw:1.00xh;0.165xw,0&resize=980:*'"> -->

                <!-- <style>
                    p {
                    background-image: url('https://hips.hearstapps.com/hmg-prod/images/door-shaded-by-bougainvillea-porquerolles-france-royalty-free-image-1653423252.jpg?crop=0.668xw:1.00xh;0.165xw,0&resize=980:*');
                    }
                    </style> -->

           





            <div class="header">
                <h1 class="hed">WELCOME TO THE COLLAGE TRIP REGISTRATION PORTAL</h1>
            </div>

                <div class="heder1">
                <h3>that locations selected on the trip</h3>
                </div>

                <div class="List">
                    
                    <ul *ngFor="let Value of locations">
                        <h1>{{Value}}</h1>
                    </ul>

            </div>
            <h2> NOTE  =>  If You Are Intersted To Enjoy The Trip then You Can Click The Register button and Feel The Registration Form</h2>


            <button  class="btn-primary" routerLink="/form" routerLinkActive="active">Register Here</button>
            <!-- <a href="https://hips.hearstapps.com/hmg-prod/images/door-shaded-by-bougainvillea-porquerolles-france-royalty-free-image-1653423252.jpg?crop=0.668xw:1.00xh;0.165xw,0&resize=980:*">click here</a> -->
        </div>  

    